.About {
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100vw;
    height: 65vh;
    justify-content: center;
    align-items: center;
    transform: translate(0, 5%);
}

.About p {
    width: 30%;
}

.About img {
    position: absolute;
    opacity: 0.05;
    height: 120%;
}

@media only screen and (max-width: 500px) {

    .About {
        transform: translate(0);
    }

    .About p {
        width: 75%;
        font-size: 3.5vmin;
    }
    
}