.Services ul {
    font-size: 2.5vmin;
    font-weight: 300;
    line-height: 2;
}

@media only screen and (max-width: 500px) {

    .Services ul {
        font-size: 5vmin;
        margin-top: -15vmin;
    }
    
}