.Services {
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.Services h6 {
    font-family: 'Italiana', serif;
    font-size: 2vmin;
    text-transform: uppercase;
}

.Services ul {
    font-size: 1.5vmin;
    padding: 1vmin 0 3.5vmin 0;
}

@media only screen and (max-width: 500px) {

    .Services ul {
        font-size: 5vmin;
        margin-top: -15vmin;
    }
    
}