.Services {
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100vw;
    height: 65vh;
    justify-content: center;
    align-items: center;
    transform: translate(0, 5%);
}

.Services img {
    width: 100%;
    position: absolute;
    opacity: 7%;
    z-index: -1;
    filter: saturate(500%);
}

.Services h6 {
    font-family: 'Italiana', serif;
    font-size: 2vmin;
    text-transform: uppercase;
    /* border: 1px solid rgb(141, 53, 68); */
    border-radius: 25px;
    background-color: rgba(245, 194, 204, 0.5);
    padding: 0.25vmin 1.5vmin;
}

.services-ul {
    font-size: 1.5vmin;
    padding: 1vmin 0 3.5vmin 0;
}

.facials {
    font-size: 1.5vmin;
    padding: 1vmin 0;
}

@media only screen and (max-width: 500px) {

    .Services {
        transform: translate(0);
    }

    .Services img {
        height: 100%;
        width: auto;
    }

    .Services h6 {
        font-size: 4.5vmin;
    }

    .services-ul, .facials {
        font-size: 3.5vmin;
    }

    .services-ul {
        padding: 1vmin 0 5vmin 0;
    }
    
}