.Contact {
    display: flex;
    /* column-gap: 5vmin; */
    background-color: rgba(255, 255, 255, 0.7);
    width: 100vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.hours {
    animation: fadeInLeft;
    animation-duration: 1s;
}

.contact-info {
    animation: fadeInRight;
    animation-duration: 1s;
}

.hours, .contact-info {
    width: 30vmin;
    margin: 0;
}

.hours h2 {
    padding-bottom: 2vmin;
}

.hours ul {
    width: 65%;
}

.hours li {
    line-height: 2;
    text-align: right;
}

.contact-info {
    font-size: 2vmin;
}

.contact-info li {
    text-align: left;
    padding: 2.5vmin;
}

.button {
    border-radius: 25px;
    font-size: 1.75vmin;
    font-weight: 600;
    background-color: white;
    color: var(--darkbrown);
    border: 1px solid var(--darkbrown);
    padding: 0.25vmin 1vmin;
}

.directions {
    line-height: 3;
}

@media only screen and (max-width: 500px) {

    .Contact {
        flex-direction: column;
        width: 100%;
        row-gap: 10vmin;
    }
    
    .Contact li { 
        text-align: center;
    }

    .hours, .contact-info {
        width: 100%;
    }

    .hours h2 {
        font-size: 5vmin;
    }

    .hours li, .contact-info, .button {
        font-size: 4vmin;
    }
    
    .button {
        padding: .5vmin 2vmin;
    }
    
}