@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --beige: #FDFAF6;
    --mauve: #D5BDAF;
    --darkbrown: #4b392b;
  }

* {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(223,201,194);
    background: linear-gradient(0deg, rgba(223,201,194,1) 0%, rgba(253,250,246,1) 100%);
    font-family: 'Outfit', sans-serif;
    color: var(--darkbrown);
    overflow: hidden;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--darkbrown);
}