.Nav {
    position: fixed;
    top: 6%;
    width: 100%;
    overflow: visible;
}

.Nav img {
    opacity: 0.2;
    width: 13vmin;
    position: absolute;
    margin-top: -4.5vmin;
    margin-left: -6.5vmin;
}

.Nav h1 {
    font-family: 'Italiana', serif;
    font-size: 3.5vmin;
    text-align: center;
    line-height: 0.75;
}

.Nav span {
    font-size: 1.5vmin;
    letter-spacing: 2.7px;
    opacity: 0.7;
}

.Nav ul {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5vmin;
}

.nav-link, .booking-link {
    font-family: 'Outfit', sans-serif;
    transition: all 1s ease;
    font-weight: 300;
}

.Nav h1:hover, .nav-link:hover, .booking-link:hover {
    cursor: pointer;
}

.hover {
    display: inline-block;
    position: relative;
}
  
.hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -.5vmin;
    left: 0;
    background-color: var(--mauve);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media only screen and (max-width: 500px) {

    .Nav {
        top: 5%;
    }

    .Nav img {
        width: 25vmin;
        margin-top: -8vmin;
        margin-left: -12vmin;
    }

    .Nav h1 {
        font-size: 7.5vmin;
    }

    .Nav span {
        font-size: 3vmin;
        line-height: 0;
        margin-top: -2vmin;
    }

    .Nav ul {
        padding: 5vmin;
        width: 100%;
    }
    
}